<%= form_with model: @todo, local: true do |t| %>
  <div class="card">
    <%= t.label :description, "ToDo" %>
    <%= t.text_field :description %>

    <%= t.label :completed, "Done" %>
    <%= t.check_box :completed %>

    <%= t.submit "Save" %>
  </div>
<% end %>